<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/main.css">
    <script src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>New Entry</title>
</head>
<body>
<div class="card">
    <button class="close" onclick="window.location.href = '/'">X</button>
    <button class="new_entry" onclick="window.location.href = '/'">New Entry</button>
    <div class="card-header">
        <h2>New Resident Registration</h2>
    </div>
    <div class="card-body">
        <form action="{{url_for('res_registration_data')}}" method="POST" id="registerResForm">
            <table>
                <tr>
                   <td>Room Assignment</td>
                    <td>
                        <select id="side" name="side" required>
                            <option value="default" selected disabled hidden>Select Side</option>
                            <option id="north" name="north" value="north">North</option>
                            <option id="south" name="south" value="south">South</option>
                        </select>
                        <input id="roomNumber" name="roomNumber" type="text" placeholder="Room Number" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="3" required>
                    </td>
                </tr>

                <td colspan="2">Resident Profile </td>
                <tr>
                    <td><input type="text" id="resFirstName" name="resFirstName" required placeholder="First Name"></td>
                    <td><input type="text" id="resLastName" name="resLastName" required placeholder="Last Name"></td>
                </tr>
                <tr>
                    <td colspan="2">E-mail address<input type="email" id="resContact" name="resContact" placeholder="OU Email address" required></td>
                </tr>
                <td colspan="2" style="text-align: center"><i><strong>Verify that all fields in the form correspond exactly to the resident ID details</strong></i>
                </td><br>
                <tr>

                    <td><button type="reset" name="cancel" id="cancel" value="cancel" onclick="resetForm()"> Cancel </button></td>
                    <td><button name="submit" id="submit" onsubmit="updateVisitor()">Register </button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
